@using Grammar.Checker.Portal.Web.Views.Components.Headers
@inherits LayoutComponentBase

<PageTitle>Grammar Checker</PageTitle>

<div class="page">
    <main>
        <HeaderComponent />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>